{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} / {{ name }}
{% endblock %}

{% block contenu %}
    <h2> Liste des stages proposés par l'entreprise <b> {{ entreprise.nom }} </b> </h2>
    <div class="accordion" id="accordionExample">
        {% for stageCourant in entreprise.mesStages %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button title="Vas-y clique !" class="btn btn-link-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapse{{stageCourant.id}}" aria-expanded="false" aria-controls="collapse{{stageCourant.id}}">
                            <u> {{ stageCourant.titre }} </u>
                        </button>
                    </h2>
                </div>
                <div id="collapse{{stageCourant.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <b> Formation(s) :</b> 
                        <ul>
                        {% for formationCourante in stageCourant.mesFormations %}
                        <li> {{ formationCourante.nomCourt }} </li>
                        {% endfor %}
                        </ul>
                        <a class="btn btn-primary" href={{ path ('prostage_stages',{'id':stageCourant.id}) }} role="button" > Voir plus </a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    
{% endblock %}