{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} / {{ name }}
{% endblock %}

{% block contenu %}
    <h2> {{ stage.titre }} </h2>
    Proposé par l'entreprise : <b> {{stage.monEntreprise.nom}} </b> </br>
    Proposé pour : 
    {% for formationCourante in stage.mesFormations %}
    <b> {{ formationCourante.nomCourt }} </b>
    {% endfor %}
    </br></br></br>

    <h4> Description </h4>
    {{ stage.description }}
    </br></br></br>

    <h4> Contact </h4>
    <b> Email : </b> {{ stage.email }} </br>
    <b> Adresse de l'entreprise : </b> {{ stage.monEntreprise.adresse }} </br>
    <b> Site web de l'entreprise : </b> <a href="{{ stage.monEntreprise.site }}">{{ stage.monEntreprise.site }}</a> </br>


{% endblock %}