<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block titre %} 
                Prostages
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
        {% endblock %}
        {% block logo %}
            <link rel="icon" type="image/png" href="https://www.logolynx.com/images/logolynx/5f/5f61489e21d23495645ca9417b728cd7.gif">
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid" id="hautPage">
	
    <!-- Barre de navigation -->
        {% block navbar %}
        <div class="row">
            <div class="col-md-12">
        
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                
                    <a class="navbar-brand" href="{{ path('prostage_bvn') }}"> Prostages </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('prostage_entreprises') }}"> Entreprises </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('prostage_formations') }}"> Formations </a>
                            </li>

                            {# Fonctionnalités pour l'administrateur #}
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('prostage_ajouterEntreprise') }}"><i> + Ajouter une entreprise </i></a>
                            </li>
                            {% endif %}

                            {# Fonctionnalités pour l'utilisateur authentifié #}
                            {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('prostage_ajouterStage') }}"><i> + Ajouter un stage </i></a>
                            </li>
                            {% endif %}


                            <li class="nav-item">
                                <a class="btn btn-outline-dark" href="{{ path('prostage_aPropos') }}"> A propos </a>
                            </li>

                        </ul>
                        <ul class="navbar-nav ml-md-auto">

                            <li class="nav-item active">

                                    {# Fonctionnalités pour l'utilisateur authentifié #}
                                    {% if is_granted('ROLE_USER') %}
                                        <a class="nav-link" href="{{ path('app_logout') }}">
                                            <b>{{ app.user.prenom }} {{ app.user.nom }}</b>
                                            <img src="https://image.flaticon.com/icons/svg/975/975357.svg"
                                            style="width:30px;height:30px;margin-left:2.5em;">
                                            Déconnexion
                                            <span class="sr-only">(current)</span>
                                    {# Fonctionnalités pour l'utilisateur NON authentifié #}                            
                                    {% else %}
                                        <a class="nav-link" href="{{ path('app_login') }}">
                                            <img src="https://image.flaticon.com/icons/svg/975/975357.svg"
                                            style="width:30px;height:30px;">
                                            Connexion
                                            <span class="sr-only">(current)</span>   
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
	    </div>
        {% endblock %}

</br>
    <!-- Contenu -->
    <div class="row">
            <div class="col-md-12">
            {% block contenu %}
        
            {% endblock %}
            </div>
    </div>

    <!-- piedPage -->
        {% block piedPage %}
        <div class="row">
            <div class="col-md-12">
                <footer class="footer fixed-bottom">
                    <a type="button" class="btn btn-primary btn-lg btn-block" href="#hautPage"> Retourner en haut de la page </a>
                </footer>
            </div>
        </div>
        {% endblock %}


</div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
   
    </body>
</html>